In [1]:
import re
import pandas as pd

In [2]:
file = open("Whatsapp Chat with Siva Krishna.txt","r",encoding = "utf-8")

In [3]:
file_data = file.read()

In [4]:
print(type(file_data))

<class 'str'>

In [5]:
pattern = r'(\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s[APMapm]{2})\s-\s([^:]+):\s(.*?)(?=\n\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s[APMapm]{2}\s-|\Z)'

In [6]:
chat_data = re.findall(pattern, file_data, re.DOTALL)

In [7]:
dates = [entry[0] for entry in chat_data]
senders = [entry[1] for entry in chat_data]
messages = [entry[2] for entry in chat_data]

In [8]:
print(dates[:5])

['12/22/23, 3:06\u202fPM', '12/22/23, 3:07\u202fPM', '12/22/23, 3:13\u202fPM', '12/25/23, 9:22\u202fAM', '12/25/23, 9:23\u202fAM']

In [9]:
df = pd.DataFrame({"user_message": messages, "message_date": dates})
df['message_date'] = pd.to_datetime(df['message_date'], format='%m/%d/%y, %I:%M %p')

df.rename(columns={"message_date": "date"}, inplace=True)
df.head()

                        user_message                date
0              Super vundhi kadha ra 2023-12-22 15:06:00
1                              Movie 2023-12-22 15:07:00
2                                Haa 2023-12-22 15:13:00
3                               null 2023-12-25 09:22:00
4  Orey nee photo em dachukonu le ra 2023-12-25 09:23:00

In [10]:
df.shape

(5651, 2)

In [11]:
users = []
msgs = []

for m in df["user_message"]:
    entry = re.split(r'^([^:]+):\s', m, maxsplit=1)
    if len(entry) > 2:
        users.append(entry[1])
        msgs.append(entry[2])
    else:
        users.append("Group Notification")
        msgs.append(entry[0])

df["user"] = users
df["message"] = msgs
df.drop(columns=["user_message"], inplace=True)
df.head()

                 date                user                            message
0 2023-12-22 15:06:00  Group Notification              Super vundhi kadha ra
1 2023-12-22 15:07:00  Group Notification                              Movie
2 2023-12-22 15:13:00  Group Notification                                Haa
3 2023-12-25 09:22:00  Group Notification                               null
4 2023-12-25 09:23:00  Group Notification  Orey nee photo em dachukonu le ra

In [12]:
df["year"] = df["date"].dt.year

In [13]:
df.head()

,date,user,message,year
0,2023-12-22 15:06:00,Group Notification,Super vundhi kadha ra,2023
1,2023-12-22 15:07:00,Group Notification,Movie,2023
2,2023-12-22 15:13:00,Group Notification,Haa,2023
3,2023-12-25 09:22:00,Group Notification,null,2023
4,2023-12-25 09:23:00,Group Notification,Orey nee photo em dachukonu le ra,2023

In [14]:
df["month"] = df["date"].dt.month_name()

In [15]:
df["day"] = df['date'].dt.day

In [16]:
df["hour"] = df["date"].dt.hour

In [17]:
df["minute"] = df["date"].dt.minute

In [18]:
df.head()

,date,user,message,year,month,day,hour,minute
0,2023-12-22 15:06:00,Group Notification,Super vundhi kadha ra,2023,December,22,15,6
1,2023-12-22 15:07:00,Group Notification,Movie,2023,December,22,15,7
2,2023-12-22 15:13:00,Group Notification,Haa,2023,December,22,15,13
3,2023-12-25 09:22:00,Group Notification,null,2023,December,25,9,22
4,2023-12-25 09:23:00,Group Notification,Orey nee photo em dachukonu le ra,2023,December,25,9,23